[package]
edition = "2021"
name = "token-mozak-guest"
version = "0.1.0"

[features]
native = []

[dependencies]
guest = { path = "../../guest", features = ["std"] }
mozak-sdk = { path = "../../sdk" }
mozak-system = { path = "../../system", features = ["mozak-ro-memory"] }
rkyv = { version = "0.8.0-alpha.1", default-features = false, features = ["pointer_width_32", "alloc"] }
wallet-mozak-guest = { path = "../wallet" }

[target.'cfg(not(target_os="mozakvm"))'.dependencies.hex]
version = "0.4"

[[bin]]
name = "tokenbin"
path = "main_mozak.rs"

[[bin]]
name = "token-native"
path = "main_native.rs"
required-features = ["native"]

[lib]
name = "token"
path = "core_logic.rs"
