[package]
name = "mozak-vm"
description = "RISC V ISA based knowledge argument VM"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { version = "1.0", default-features = false }
elf = { version = "0.7" }
log = "0.4.17"
env_logger = "0.10.0"
bitfield = "0.14.0"
im = "15.1.0"
risc0-core = "0.15.0"
proptest = "1.2.0"

[dev-dependencies]
test-case = "3.1.0"

[features]
default = ["std"]
std = ["anyhow/std"]
