[package]
categories = ["cryptography"]
description = "MozakVM cli"
edition = "2021"
keywords = ["crypto", "zero-knowledge", "vm"]
license = "All rights reserved"
name = "mozak-cli"
readme = "README.md"
repository = "https://github.com/0xmozak/mozak-vm"
version = "0.1.0"

[dependencies]
clap = { version = "4.4", features = [
  "derive",
  "cargo",
  "env",
  "unicode",
  "wrap_help",
] }
mozak-circuits = { path = "../circuits", features = ["test"] }
mozak-circuits3 = { path = "../circuits3", features = ["cli_bench"], optional = true }
mozak-examples = { path = "../examples-builder", features = ["fibonacci-input"] }
mozak-runner = { path = "../runner", features = ["test"] }
# TODO(Matthias): implement shell completion for CLI via clap_complete
# clap_complete = "4.3"
anyhow = "1.0"
clap-verbosity-flag = "2.1"
clap_derive = "4.3"
clio = { version = "0.3", features = ["http-ureq", "clap-parse"] }
env_logger = "0.10"
itertools = "0.12"
log = "0.4"
plonky2 = "0.1"
serde_json = "1.0.113"
starky = "0.1"
tempfile = "3"
p3-uni-stark = { git = "https://github.com/Plonky3/Plonky3.git" , optional = true }

[dev-dependencies]
mozak-circuits = { path = "../circuits", features = ["test"] }
mozak-runner = { path = "../runner", features = ["test"] }
proptest = "1.4"

[features]
bench = ["mozak-circuits3", "p3-uni-stark"]
