[workspace]
members = [
  "*/native",
  "*/elf-data",
]

resolver = "2"

[patch.crates-io]
plonky2 = { git = "https://github.com/0xmozak/plonky2.git" }
plonky2_maybe_rayon = { git = "https://github.com/0xmozak/plonky2.git" }
# starky = { git = "https://github.com/0xmozak/plonky2.git" }
