[package]
categories = ["cryptography"]
description = "Demo running MozakVM and proof generation in WASM"
edition = "2021"
keywords = ["crypto", "zero-knowledge", "vm"]
license = "All rights reserved"
name = "wasm_demo"
readme = "README.md"
repository = "https://github.com/0xmozak/mozak-vm"
version = "0.1.0"

[lib]
crate-type = ["cdylib", "rlib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
console_error_panic_hook = "0.1"
mozak-circuits = { path = "../circuits", features = ["test"] }
mozak-runner = { path = "../runner" }
starky = { workspace = true, default-features = false, features = ["std"] }
wasm-bindgen = "0.2"
