[package]
categories = ["development-tools", "zk"]
description = "Provides tools for writing programs for mozak platform"
edition = "2021"
keywords = ["sdk"]
license = "Apache-2.0"
name = "mozak-sdk"
readme = "README.md"
repository = "https://github.com/0xmozak/mozak-node/sdk"
version = "0.1.0"

[dependencies]
itertools = { version = "0.12.1", default-features = false }
mozak-system = { path = "../system", features = ["mozak-ro-memory"] }
once_cell = { version = "1.19.0", default-features = false, features = ["race"] }
rkyv = { version = "0.7.1", default-features = false, features = ["size_32", "alloc"] }


[target.'cfg(not(target_os="mozakvm"))'.dependencies.lazy_static]
version = "1.4.0"

[target.'cfg(not(target_os="mozakvm"))'.dependencies.hex]
version = "0.4"

[target.'cfg(not(target_os="mozakvm"))'.dependencies.itertools]
version = "0.12.1"

[target.'cfg(not(target_os="mozakvm"))'.dependencies.serde]
features = ["derive"]
version = "1.0"

[target.'cfg(not(target_os="mozakvm"))'.dependencies.plonky2]
default-features = false
git = "https://github.com/0xmozak/plonky2.git"
