[package]
name = "mozak-circuits"
description = "MozakVM circuits"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/0xmozak/mozak-vm"
readme = "README.md"
license = "All rights reserved"
keywords = ["crypto", "zero-knowledge", "vm"]
categories = ["cryptography"]

[dependencies]
plonky2 = "0.1.3"
plonky2_maybe_rayon = "0.1.0"
anyhow = { version = "1.0", default-features = false }
mozak-vm = { path = "../vm" }
log = "0.4.19"
itertools = "0.11.0"
starky = "0.1.1"
array-concat = "0.5.2"

[dev-dependencies]
mozak-vm = { path = "../vm", features = ["test"] }
proptest = "1.2.0"
