[package]
name = "mozak-circuits"
description = "MozakVM circuits"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/0xmozak/mozak-vm"
readme = "README.md"
license = "All rights reserved"
keywords = ["crypto", "zero-knowledge", "vm"]
categories = ["cryptography"]

[dependencies]
plonky2 = { git = "https://github.com/mir-protocol/plonky2.git", features = ["timing"] }
plonky2_maybe_rayon = { git = "https://github.com/mir-protocol/plonky2.git" }
anyhow = { version = "1.0", default-features = false }
mozak-vm = { path = "../vm" }
log = "0.4.19"
itertools = "0.11.0"
starky = { git = "https://github.com/0xmozak/plonky2.git" }
thiserror = "1.0.40"
lazy_static = "1.4.0"
array-concat = "0.5.2"

[dev-dependencies]
mozak-vm = { path = "../vm", features = ["test"] }
proptest = "1.2.0"
env_logger = {version = "0.10.0"}

[features]
test = []
