[package]
name = "mozak-circuits"
description = "MozakVM circuits"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/0xmozak/mozak-vm"
readme = "README.md"
license = "All rights reserved"
keywords = ["crypto", "zero-knowledge", "vm"]
categories = ["cryptography"]

[dependencies]
anyhow = { version = "1.0", default-features = false }
array-concat = "0.5.2"
itertools = "0.11.0"
lazy_static = "1.4.0"
log = "0.4.19"
mozak-vm = { path = "../vm" }
plonky2 = "0.1.3"
plonky2_maybe_rayon = "0.1.0"
starky = "0.1.1"
thiserror = "1.0.43"

[dev-dependencies]
mozak-vm = { path = "../vm", features = ["test"] }
proptest = "1.2.0"
env_logger = {version = "0.10.0"}
rand = "0.8.5"


[features]
test = []
