name: CI

on:
  push:
    branches: [ "main" ]
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  check-riscv-tests:
    name: "Check Risc-V Tests are up to date"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          git ls-remote --quiet --heads https://github.com/riscv/riscv-tests.git master |
            grep --only '^[^[:space:]]*' |
            tee vm/tests/testdata/.testdata_generated_from_this_commit
          git diff --exit-code || {
            echo "::error RiscV tests are out of date";
            cat vm/tests/create_testdata/error_message.markdown >> ${GITHUB_STEP_SUMMARY};
            false
          }

  cargo-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install rust toolkit
        uses: ./.github/actions/rust

      - name: Run tests
        run: cargo test --locked --all-targets

  cargo-clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install rust toolkit
        uses: ./.github/actions/rust

      - name: Run Clippy linter
        run: cargo clippy --all-features --all-targets -- -D warnings

  cargo-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
 
      - name: Install rust toolkit
        uses: ./.github/actions/rust

      - name: Run fmt
        run: cargo fmt --all --check
