name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always

jobs:
  cargo-test:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install rust toolkit
        uses: ./.github/actions/rust

      - name: Build ELF(s) for benchmarking
        run: cd examples/fibonacci && cargo build --release

      - name: Run tests
        run: cargo nextest run --locked --all-targets

  cargo-clippy:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install rust toolkit
        uses: ./.github/actions/rust

      - name: Run Clippy linter
        run: cargo clippy --all-features --all-targets -- -D warnings

  cargo-build-examples:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install rust toolkit
        uses: ./.github/actions/rust

      - name: Build all examples
        run: |
          cd examples
          git ls-files -z '*/Cargo.toml' | xargs -0 --max-args=1 -- cargo build --manifest-path

  cargo-fmt:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install rust toolkit
        uses: ./.github/actions/rust

      - name: Run fmt
        run: cargo fmt --all --check

  taplo-fmt:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: taiki-e/install-action@v2
        with:
          tool: taplo-cli

      - name: taplo fmt
        run: taplo fmt --check
